.title {
  font-weight: 900;
}
.left-chat {
  background-color: white;
  float: left;
  margin-bottom: 1rem;
  padding: 1rem;
}
.right-chat {
  background-color: #d3eebe;
  float: right;
  margin-bottom: 1rem;
  padding: 1rem;
}
.car-image {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 6px;
}
.table-img {
  width: 15vh;
  width: 15vh;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: start;
}
.title {
  margin-bottom: 0;
  color: #37783f;
}
.card {
    padding: 1rem;
    margin: 0.5rem;
}