{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<section>
  <div class="container-fluid" id="detailsPage">
    {% if messages %}
    {% for message in messages %}
    <div class="row ">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <button aria-hidden="true">&times;</button>
          </button>
          {{ message }}
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 car text-center">
        <div class="">
          <div class="">
            <h5 class="car-name">Car Number: {{car.car_make}}, Model {{car.model}}</h5>
            {% if current_user.id is not user.id%}
            <a href="{% url 'chat_messages' request.user.id user.id %}" id="user{{ user.id }}"
            class="">
            <button class="btn btn-success" style="font-weight: bolder">Chat with owner:{{ user.username }}</button>
            {% endif %}
        </a>
          </div>
          <div style="margin-top: 1rem;" class="row">
            <div class="col-md-6">
              {% if request.user.is_authenticated %}
              <div class="">
                <img class="car-image" src="{{car.image_1.url}}" alt="">
              </div>
              <div class="">
                <img class="car-image" src="{{car.image_2.url}}" alt="">
              </div>
              {% else %}
              <div class="">
                <img class="car-image" src="{{car.image_1.url}}" alt="">
              </div>
              {% endif %}
            </div>
            <div class="col-md-6">
              {% if request.user.is_authenticated %}
              <div class="">
                <img class="car-image" src="{{car.image_3.url}}" alt="">
              </div>
              <div class="">
                <img class="car-image" src="{{car.image_4.url}}" alt="">
              </div>
              {% else %}
              <div class="">
                <img class="car-image" src="{{car.image_3.url}}" alt="">
              </div>
              {% endif %}
            </div>
          </div>
          <div class="map text-center">
            <h2>Map Location: {{car.location}}</h2>
            <iframe src="https://maps.google.com/maps?q={{car.location}}%20street&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>
        </div>
      </div>


      <div class="col-md-1"></div>
    </div>
  </div>
</section>
{% endblock %}