{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="height: 80vh">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div id="board" class="section grey lighten-3" style="padding: 5px;">
                    {% for message in messages %}
                    {% if message.sender == request.user %}
                    <div class="card right-chat" style="width: 75%;">
                        <div class="title">You</div>
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="card left-chat" style="width: 75%;">
                        <div class="title">{{ message.sender }}</div>
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <script>
                        $(function () {
                            $('#user{{ receiver.id }}').addClass('active');
                            //Call receive function each 1 seconds to check for new messages in the database
                            setInterval(receive, 1000)
                        })
                    </script>
                </div>
                <form id="chat-box" class="form-group" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-10">
                            <input id="id_message" class="form-control" name="message" type="text"
                                placeholder="Type your message..">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary"><i class="material-icons">send</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% load static %}
<script src="{% static 'js/chat.js' %}"></script>
<script>
    // For receiving
    sender_id = "{{ receiver.id }}";
    receiver_id = "{{ request.user.id }}";

    //For sending
    $(function () {
        scrolltoend();
        $('#chat-box').on('submit', function (event) {
            event.preventDefault();
            var message = $('#id_message');
            send('{{ request.user.username }}', '{{ receiver.username }}', message.val());
            message.val('');
        })
    })
</script>
{% endblock %}