{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-center">
          {% if cars%}
          <h3 class="title">Found {{ cars|length }} cars of searched term <span
              class="text-success">{{message}}</span></h3>
          {% else %}
          <h3 class="title"> Found 0 cars for the search term <span class="text-success">{{message}}</span></h3>
          {% endif %}

        </div>
        <div class="row">
          {% for car in cars %}
          <div class="col-md-4 col-sm-6 text-center product">
            <a href="{% url 'car_view' car.id  %}">
              <img src="{{car.image_1.url}}" width="100%" alt="">
            </a>
            <a href="{% url 'car_view' car.id  %}">
              <h5 class="car-name">{{car.car_make}}</h5>
            </a>
          </div>
          {% endfor %}

        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
{% endblock %}